.divForm{
  display:table-row;
}

.form{
  background-color: brown;
  display: table;
  width: fit-content;
  height: auto;
}

.input{
  display: table-cell;
  width: 400px;
  margin-top: 5px;
}

.label{
  display:table-cell;
}

#inputTitle{
  margin-right: 0px;
  float:right;
}

#inputAuthor{
  float:right;
}

#inputNumberOfPages{
  float:right;
}

#inputReadStatus{
  float:right;
}

#buttonSubmit {
  margin-left: auto;
  margin-right: auto;
  display: block;
}