/*.divForm{
  display:block;
  background-color: chartreuse;
  width: auto;
  
}*/

.form{
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  display: grid;
  height: auto;
  width: max-content;
  margin-bottom: 10px;
}

.input{
  display: inline-block;
  margin-top: 10px;
  width: 500px
}

#inputTitle{
  margin-left: 60px;
}

#inputAuthor{
  margin-left: 41px;
}

#inputNumberOfPages{
  margin-left: 50px;
  margin-bottom: 10px;
}

#divReadStatus3 {
  
  display: block;
}

#inputReadStatus1 {
  display: inline-block;
}

#inputReadStatus2 {
  display:inline-block;
}

#divReadStatus1 {
  
  display: inline-block;
  margin-left: 50px;
}

#divReadStatus2 {
  
  display: inline-block;
  margin-left: 100px;
}

#divLibrary {
  margin-top: 40px;
}

#buttonSubmitForm {
  border-radius: 40px;
  margin-left: 100px;
}

#closeButton {
  border-radius: 10px;
  margin-left: 40px;
}